<tr class="user bg-white border-b">
  <td class="first-name text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= user.first_name%>
  </td>

  <td class="last-name text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= user.last_name %>
  </td>

  <td class="email text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= user.email %>
  </td>
</tr>
