<% content_for :title do %>
  Gnarnians
<% end %>

<div>
  <%= turbo_frame_tag "new_user_frame" do %>
    <%= link_to "Add a Gnarnian", new_gnar_user_path, class: "w-48 m-20 bg-orange-500" %>
  <% end %>

  <div>
    <div>
      <%= render "gnar/users/table", users: @users %>
    </div>
  </div>
</div>
