<% content_for :title do %>
  Gnarnians
<% end %>

<div class="main-layout">
  <div>
    <div>
      <%= turbo_frame_tag "gnar-users" do %>
        <%= render "gnar/users/table", users: @users %>
      <% end %>
    </div>
  </div>
  <div class="side-frame">
    <%= render "gnar/users/add_user_button" %>
  </div>
</div>
