<% content_for :title do %>
  Assets
<% end %>
<div class="main-layout">
  <div>
    <div>
      <%= render "gnar/employee_assets/table", assets: @assets, retired_assets: @retired_assets %>
    </div>
  </div>
  <div class="side-frame">
    <%= render "gnar/employee_assets/add_asset_button" %>
  </div>
</div>
