<li class="mb-2 mx-1 md:mx-0 flex-1 md:flex-none">
  <%= link_to text, url, class: "block py-1 md:py-3 pl-1 align-middle px-6 py-3 text-center text-white no-underline bg-blue-800 rounded hover:bg-blue-500" %>
</li>
