<h1>⚙️ GEAR ⚙️</h1>
<h2>The Gnar Employee Asset Repository</h2>
<%= link_to "Sign Out", destroy_user_session_path %>
<table>
  <thead>
    <th>Type</th>
    <th>Gnarnian</th>
  </thead>
  <tbody>
    <%= render @assets %>
  </tbody>
</table>
