<% content_for :title do %>
  Welcome to G.E.A.R.
<% end %>
<div class="container flex flex-col h-screen w-full text-center">
  <div style="margin:1rem;">
    <%= render "assets/table", assets: @assets %>
  </div>
</div>
