<% content_for :title do %>
  Welcome to Gear
<% end %>
<div class="container flex flex-col h-screen w-full text-center">
  <div style="margin:1rem;">
    <table class="table-auto">
      <thead class="border-b bg-orange-500">
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
          Type
        </th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
          Gnarnian
        </th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
          Model Number
        </th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
          Serial Number
        </th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
          Date of Purchase (approx)
        </th>
      </thead class="border-b">
      <tbody>
        <%= render @assets %>
      </tbody>
    </table>
  </div>
</div>
