$gnar-blue: #1b2445;
$gnar-blue-dark: darken($gnar-blue, 10%);
$gnar-orange: #f34339;
$gnar-orange-dark: darken($gnar-orange, 10%);
$gnar-yellow: #fcb84b;
$gnar-yellow-light: lighten($gnar-yellow, 10%);
$gnar-yellow-dark: darken($gnar-yellow, 10%);
$slate: #3c3c3c;
$white: #fff;
