@import "colors";
@import "fonts";
@import "util";

form:not(.hidden) {
  background: $gnar-yellow-light;
  border: 1px solid $gnar-yellow;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $slate;
  display: inline-block;
  padding: 15px;
}

.title {
  background: $gnar-blue;
  border: 1px solid $gnar-blue;
  color: $white;
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  margin: -16px -16px 10px;
  padding: 10px 15px;
  width: 100%;
}

.form-element {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid $white;
  color: $slate;
  font-family: $body-font;
  font-size: 18px;
  outline: 0;

  &:focus {
    border-bottom-color: $slate;
  }
}

.errors {
  background: $white;
  border: 1px solid $gnar-orange;
  margin: 0 0 15px;
  padding: 15px;

  ul {
    margin: 0;
    padding: 0;

    .error-msg {
      list-style: none;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
