@import "buttons";

.session-container {
  align-items: center;
  background: url('gear.png');
  display: flex;
  height: 100%;
  justify-content: center;
}

form.log-in {
  background: none;
  border: none;
  box-shadow: none;
}

button.log-in {
  background: $gnar-orange;
  color: $white;
}
