.users-layout {
  display: flex;
}

.button.add-gnarnian {
  margin: 0 15px;
}

.button.create-user {
  margin: 0;
}

#new_user_form {
  margin: 0 15px;

  label {
    margin-right: 15px;
    white-space: nowrap;
  }

  input[type="text"] {
    width: 350px;
  }
}
